# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../sample_building_kotlin_applications_multi_project-kotlin-dsl\.idea/codestream.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
